div.press {
  height: 100vh;
  background-color: #f3f4f9;

  div.inner {
    width: 700px;
    margin: 0 auto;

    div.big_post {
      padding-block: 30px;

      div.thumbnail {
        background-color: #ffffff;
        height: 340px;
        width: 100%;
        border-radius: 2px;
        cursor: pointer;
      }
  
      p.title {
        margin-top: 20px;
        font-family: 'Lora', serif;
        font-weight: 500;
        font-size: 28px;
      }
  
      p.date {
        display: flex;
        align-items: center;
        margin-left: 4px;
        font-size: 14px;
        font-weight: 500;
        color: #b31544;
  
        i {
          font-size: 10px;
          margin-right: 6px;
          margin-bottom: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  div.press {

    div.inner {
      width: 98%;
    }
  }
}