div.about {
  background-color: #000000;

  div.components {
    width: 900px;
    margin: 0 auto;

    div.item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      padding-block: 50px;

      div.inner {
        position: relative;
        margin: 0 auto;
        z-index: 1;

        ul {
          list-style: circle;

          li {
            font-family: 'Lora', serif;
            font-size: 14px;
            padding-block: 6px;
          }
        }

        p {
          font-size: 14px;
          font-family: 'Lora', serif;
          padding-block: 10px;

          &.header {
            font-family: 'Cera Pro';
            color: #b31544;
            // text-shadow: 0px 0px 0px 2px #ffffff;
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1010px) {
  div.about {

    div.components {

      div.item {

        div.inner {

          p {
            font-size: 12px;

            &.header {
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  div.about {

    div.components {
      width: 90%;
    }
  }
}